<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-15298256-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-15298256-8');

  var trackOutboundLink = function(url) {
    if (gtag) {
      gtag('event', 'click', {
        'event_category': 'outbound',
        'event_label': url,
        'transport_type': 'beacon',
        'event_callback': function(){}
      });
    }
  };

  var handleOutboundLinkClick = function(event) {
    var url = this.href;
    trackOutboundLink(url);
  };

  /*
   * Track external links clicked
   */
  var externalLinks = document.querySelectorAll('a[target="_blank"]');

  externalLinks.forEach(function (l) {
    l.addEventListener('click', handleOutboundLinkClick);
  });

</script>
