<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-15298256-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-15298256-8');
</script>

<script>

  /*
   * Countdown clock
   */
  /*var now = Math.floor((new Date()).getTime() / 1000);
  var bfDate = Date.UTC(2017, 11, 24, 0, 0, 0, 0) / 1000;
  var diff = bfDate - now;

  var weeks = Math.floor(diff / 604800);
  var daysLeft = Math.floor(diff - (weeks * (60 * 60 * 24 * 7)));
  var days = Math.floor(daysLeft / 86400);
  var hoursLeft = Math.floor(daysLeft - (days * 86400));
  var hours = Math.floor(hoursLeft / 3600);
  var minutesLeft = Math.floor(hoursLeft - (hours * 3600));
  var minutes = Math.floor(minutesLeft / 60);
  var seconds = diff % 60;

  var outputStr = '';

  if (weeks > 0) {
    outputStr += weeks + ' weeks ' + days + ' days ' + hours + ' hours ' + minutes + ' minutes ' + seconds + ' seconds';
  } else {
    if (days > 0) {
      outputStr += days + ' days ' + hours + ' hours ' + minutes + ' minutes ' + seconds + ' seconds';
    } else {
      outputStr += hours + ' hours ' + minutes + ' minutes ' + seconds + ' seconds';
    }
  }

  console.log(now, bfDate, bfDate - now, diff);
  console.log(weeks, days, hours, minutes, seconds);
  console.log(hoursLeft);
  console.log(outputStr);*/

</script>
